<% if (!session.cart) { %>
<section class="emptyCart">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl text-gray-700 font-bold mb-2">Cart empty :(</h1>
        <p class="text-lg px-4 py-8 text-gray-600">Shop new styles before they are gone.</p>
        <img class="mx-auto" src="https://media.giphy.com/media/26gs9kSN6d5PxSsQU/giphy.gif" alt="gif">
    </div>
</section>
<% } else { %>
<section class="cart">
    <div class="order container mx-auto w-1/2">
        <div class="border-b border-gray-400 pb-4">
            <h1 class="font-bold text-4xl text-gray-700">Order summary</h1>
        </div>

        <% for(let dress of Object.values(session.cart.items)) { %>
        <div class="order-list border-b border-gray-400">
            <div class="flex items-center py-16">
                <img class = "w-24" src="/img/<%= dress.item.image %>" alt="dress">
                <div class="flex-1 ml-4">
                    <h1><%= dress.item.name %></h1>
                    <span class="text-gray-600"><%= dress.item.size %></span>
                </div>
                <span class="flex-1"><%= dress.qty %></span>
                <span class="font-bold text-lg">Rs.<%= dress.item.price * dress.qty %></span>
            </div>
        </div>
        <% } %>

        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold px-4">Total amount:</span>
                <span class="amount text-2xl text-blue-600">Rs. <%= session.cart.totalPrice %></span>
            </div>
            <div>
                <form action="">
                    <input class="border border-gray-400 mt-2 p-2 w-1/2" type="text", placeholder="Address">
                    <input class="border border-gray-400 mt-2 p-2 w-1/2" type="email", placeholder="Email address">
                    <div>
                        <button class="mt-4 p-2 w-1/4 border border-transparent text-base font-medium rounded-full text-white bg-orange-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10"type="submit">Order now</button>
                    </div>
                </form>
            </div>
            <!-- <a href="#" class="mt-4 inline-block w-1/4 text-center px-8 py-3 border border-transparent text-base font-medium rounded-full text-orange-700 bg-blue-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
                Login
            </a> -->
        </div>
    </div>
</section>
<% } %>